<!DOCTYPE html>
<html>
	<body> 
			<footer data-th-fragment="footerEdit" class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5" style="background-color: deepskyblue;">
			<div class="col mb-3" ></div>
			<div class="col mb-3">
				<h5 style="color:white;">Contactos</h5>
				<ul class="nav flex-column">
					<li>Direccion: Ing. Mario Italo Palanca 10, Y4600 San Salvador de Jujuy, Jujuy</li>
					<li>telefono: 0388 422-1580</li>
					<li>Email: info@fi.unju.edu.ar</li>
				</ul>
			</div>  
			<div class="col mb-3">
				<h5 style="color:white;">Redes sociales</h5>
				<ul class="nav flex-column">
				<li><a href="https://www.facebook.com/fiunju/">Facebook</a></li>
				<li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A">YouTube</a></li>							   
				<li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju">LinKedln</a></li>									
				<li><a href="https://www.instagram.com/fiunju/">Instagram</a></li>
				</ul>
			</div> 
             <div>
				<p>&copy; Fabrizio Luciano Armada 2024</p>
			 </div>
		</footer>
	</body>
</html>