<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<div class="container">
		<header data-th-replace="~{/layouts/header :: header}"></header>
		<div class="nav-scroller py-1 mb-3 border-bottom border-top">
			<nav data-th-replace="~{/layouts/header :: nav}"></nav>
		</div>
	</div>
	<main class="container">
		<div class="container bg-body-secondary p-4 p-md-5 mb-4 rounded">
			<form th:action="@{/filtro/alumnos}" method="POST" id="filterForm">
				<h1 class="h3 mb-3 fw-normal text-center">Filtrar Alumnos por
					Materia</h1>

				<div class="form-floating mb-3">
					<select class="form-select" id="floatingMateria" name="materia"
						aria-label="Seleccionar Materia">
						<option value="">Selecciona una materia</option>
						<option th:each="materia : ${materias}" th:value="${materia.id}"
							th:text="${materia.nombre}"></option>
					</select> <label for="floatingMateria">Materia</label>
				</div>

				<button class="btn btn-primary w-80 py-2 mx-auto d-block"
					type="submit">Filtrar</button>
			</form>

			<div class="mt-5" th:if="${alumnos != null}">
				<h2 class="h4 mb-3 fw-normal text-center">Lista de Alumnos por Materia</h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col" class="bg-dark bg-gradient text-white border-white border-2 text-center">#</th>
							<th scope="col" class="bg-dark bg-gradient text-white border-white border-2 text-center">DNI</th>
							<th scope="col" class="bg-dark bg-gradient text-white border-white border-2 text-center">Nombre</th>
							<th scope="col" class="bg-dark bg-gradient text-white border-white border-2 text-center">Apellido</th>
						</tr>
					</thead>
					<tbody id="resultsTable">
						<tr th:each="alumno, iterStat : ${alumnos}">
						<td class="border border-dark text-center"
								th:text="${iterStat.index + 1}"></td>
							<td class="border border-dark" th:text="${alumno.dni}"></td>
							<td class="border border-dark" th:text="${alumno.nombre}"></td>
							<td class="border border-dark" th:text="${alumno.apellido}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	<script data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"
		type="text/javascript"></script>
</body>
</html>